@model CommunityCounts.Models.Master.C1bookings
@{
    ViewBag.Title = "Un Mark";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2>Un Mark an Attendance List</h2>
    <div class="alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Warning!</strong> Are you sure that you want to unmark this attendance?
    </div>
    <hr />
    @Html.ActionLink("No - Back to List", "Index", null, htmlAttributes: new { @class = "btn btn-primary btn-xs" })
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.C1resources.ResourceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C1resources.ResourceName)
        </dd> 
        <dt>
            @Html.DisplayNameFor(model => model.C1servicetypes.ServiceType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C1servicetypes.ServiceType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

       
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color col-md-2">
        <input type="Submit" value="Unmark" class="btn btn-danger btn-xs" />
    </div>
    }
</div>
