@{
    ViewBag.Title = "Analysis - The Data Dictionary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Analysis - Introduction to the Data Dictionary</h2>
<p>
    @Html.ActionLink("Back to Main Screen", "Index", "Home", null, htmlAttributes: new { @class = "btn btn-primary btn-xs" })
</p>
<div class="panel panel-default">
    <div class="panel-default">
        The <strong>Data Dictionary</strong> is how all data within Community Counts is <em>stored</em> and <em>accessed</em>
        <p>This Dictionary consists are a group of <em>related</em> data items in the following sets:
        <ol>
            <li>@Html.ActionLink("vClient","vClient","AnalIntro")<br />
                Client-related data, including all geographical-related data. Related to this are these extended data-items:
                <ol>
                    <li>
                        @Html.ActionLink("vClientActivity", "vClientActivity", "AnalIntro")<br />
                        All enrolled Activity information for a Client (and all client information). This includes Journey Category.
                    </li>
                    <li>
                        @Html.ActionLink("vClientAttendance", "vClientAttendance", "AnalIntro")<br />
                        All attendance information for a Client (and all client information).
                    </li>
                    <li>
                        @Html.ActionLink("vClientCasework", "vClientCasework", "AnalIntro")<br />
                        All attendance information for a Client (and all client information).
                    </li>
                    <li>
                        @Html.ActionLink("vClientNeeds", "vClientNeeds", "AnalIntro")<br />
                        All attendance information for a Client (and all client information).
                    </li>
                </ol>
            </li>
            <li>
                @Html.ActionLink("vBookings", "vBookings", "AnalIntro")<br />
                All bookings data. For all of the generated schedules.
            </li>
            <li>
                @Html.ActionLink("vAttendance", "vAttendance", "AnalIntro")<br />
                All Attendance data (but no Client-related information)
            </li>
            <li>
                @Html.ActionLink("vJourneys", "vJourneys", "AnalIntro")<br />
                The Parent and child Activity in any Journey.
            </li>
            <li>
                @Html.ActionLink("vQCSR", "vQCSR", "AnalIntro")<br />
                All Quick Contact and Signpost/Referral data items.
            </li>
            <li>
                @Html.ActionLink("vSurveys", "vSurveys", "AnalIntro")<br />
                All Survey definitions. Related to this are the extended data-items:
                <ol>
                    <li>
                        @Html.ActionLink("vSurveyResultsNum", "vSurveyResultsNum", "AnalIntro")<br />
                        All <em>numeric</em> results for all surveys together will related client information
                    </li>
                    <li>
                        @Html.ActionLink("vSurveyResultsTxt", "vSurveyResultsTxt", "AnalIntro")<br />
                        All <em>textural</em> results for all surveys together will related client information
                    </li>
                </ol>
            </li>
            </ol>
        </p>
    </div>
</div>
