@model CommunityCounts.Models.Master.C1client

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Client Details</h2>

<div>
    <hr />
    <p>
        @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "btn btn-primary btn-xs" })
        @Html.ActionLink("Edit", "Edit", new { id = Model.idClient}, htmlAttributes: new { @class = "btn btn-warning btn-xs" })
    </p>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HouseNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HouseNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AddressLine1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressLine1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.citylist.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.citylist.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.countylist.County)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.countylist.County)
        </dd>
        <dt>
            Postcode
        </dt>
        <dd>
            @Html.DisplayFor(model => model.postcode.PostCode1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            Hear Of Services
        </dt>
        <dd>
            @Html.DisplayFor(model => model.refdata5.RefCodeDesc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HearOther)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HearOther)
        </dd>
        <dt>
            Language
        </dt>
        <dd>
            @Html.DisplayFor(model => model.refdata8.RefCodeDesc)
        </dd>
        <dt>
            Ethnicity
        </dt>
        <dd>
            @Html.DisplayFor(model => model.refdata4.RefCodeDesc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ethnicity_Other)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ethnicity_Other)
        </dd>
        <dt>
            Gender
        </dt>
        <dd>
            @Html.DisplayFor(model => model.refdata3.RefCodeDesc)
        </dd>
        <dt>
            Age Range
        </dt>
        <dd>
            @Html.DisplayFor(model => model.refdata.RefCodeValue)
        </dd>
        <dt>
            Housing Status
        </dt>
        <dd>
            @Html.DisplayFor(model => model.refdata9.RefCodeDesc)
        </dd>
        <dt>
            Landlord
        </dt>
        <dd>
            @Html.DisplayFor(model => model.refdata10.RefCodeDesc)
        </dd>
        <dt>
            Travel Method
        </dt>
        <dd>
            @Html.DisplayFor(model => model.refdata2.RefCodeDesc)
        </dd>
        <dt>
            Disability
        </dt>
        <dd>
            @Html.DisplayFor(model => model.refdata6.RefCodeDesc)
        </dd>
        <dt>
            Benefits
        </dt>
        <dd>
            @Html.DisplayFor(model => model.refdata7.RefCodeDesc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ArmedServCur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArmedServCur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArmedSerPre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArmedSerPre)
        </dd>
        <dt>
            Employment
        </dt>
        <dd>
            @Html.DisplayFor(model => model.refdata1.RefCodeDesc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Occupation_Other)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Occupation_Other)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AttainmentTracked)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AttainmentTracked)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MemoryStickIssued)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MemoryStickIssued)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ConfirmSigned)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ConfirmSigned)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedDateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedDateTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ChangedDateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ChangedDateTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.idClient)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.idClient)
        </dd>
    </dl>
</div>

