@model CommunityCounts.Models.Master.C1client

@{
    ViewBag.Title = "Edit Client";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Client </h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "btn btn-primary btn-xs" })
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model=> model.idRegYear)
         <div class="form-group">               
             @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
             <div class="col-md-3">
                  @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                  @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
             </div>
         </div>

         <div class="form-group">
             @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
             <div class="col-md-3">
                 @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                 @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
             </div>
        </div>
       <div class="form-group">
           @Html.LabelFor(model => model.HouseNumber, htmlAttributes: new { @class = "control-label col-md-2" })
           <div class="col-md-3">
               @Html.EditorFor(model => model.HouseNumber, new { htmlAttributes = new { @class = "form-control" } })
               @Html.ValidationMessageFor(model => model.HouseNumber, "", new { @class = "text-danger" })
           </div>
       </div>

       <div class="form-group">
           @Html.LabelFor(model => model.AddressLine1, htmlAttributes: new { @class = "control-label col-md-2" })
           <div class="col-md-3">
               @Html.EditorFor(model => model.AddressLine1, new { htmlAttributes = new { @class = "form-control" } })
               @Html.ValidationMessageFor(model => model.AddressLine1, "", new { @class = "text-danger" })
           </div>
       </div>

       <div class="form-group">
           @Html.LabelFor(model => model.idCity, "City", htmlAttributes: new { @class = "control-label col-md-2" })
           <div class="col-md-3">
               @Html.DropDownList("idCity", null, htmlAttributes: new { @class = "form-control" })
               @Html.ValidationMessageFor(model => model.idCity, "", new { @class = "text-danger" })
           </div>
       </div>

       <div class="form-group">
           @Html.LabelFor(model => model.idCounty, "County", htmlAttributes: new { @class = "control-label col-md-2" })
           <div class="col-md-3">
               @Html.DropDownList("idCounty", null, htmlAttributes: new { @class = "form-control" })
               @Html.ValidationMessageFor(model => model.idCounty, "", new { @class = "text-danger" })
           </div>
       </div>
    
        @* do not use dropdownlist to render the list of postcodes for (bad) performance reasons *@
        @*<div class="form-group">
            @Html.LabelFor(model => model.idPostcode, "idPostcode", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.DropDownList("idPostcode", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idPostcode, "", new { @class = "text-danger" })
            </div>
        </div>*@
        <div class="form-group">
            @Html.LabelFor(model => model.postcode, "Postcode", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.TextBox("postcodeText", null, htmlAttributes: new { @class = "form-control" }) 
                @Html.ValidationMessageFor(model => model.postcode, "", new { @class = "text-danger" })
                <h5>(Homeless? use 'CC1 1CC'. No Fixed Abode? use 'CC1 2CC')</h5>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

       <div class="form-group">
           @Html.LabelFor(model => model.idHearOfServices, "Hear of Services?", htmlAttributes: new { @class = "control-label col-md-2" })
           <div class="col-md-3">
               @Html.DropDownList("idHearOfServices", null, htmlAttributes: new { @class = "form-control" })
               @Html.ValidationMessageFor(model => model.idHearOfServices, "", new { @class = "text-danger" })
           </div>
       </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HearOther, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.HearOther, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HearOther, "", new { @class = "text-danger" })
            </div>
        </div>
 
        <div class="form-group">
            @Html.LabelFor(model => model.idFirstLanguage, "Preferred Language", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                                @Html.DropDownList("idFirstLanguage", null, htmlAttributes: new { @class = "form-control" })

                @Html.ValidationMessageFor(model => model.idFirstLanguage, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.FirstLanguageOther, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.FirstLanguageOther, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstLanguageOther, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idEthnicity, "Ethnicity", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.DropDownList("idEthnicity", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idEthnicity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ethnicity_Other, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.Ethnicity_Other, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Ethnicity_Other, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.idGender, "Gender", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.DropDownList("idGender", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idGender, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idAgeRange, "Age Range", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.DropDownList("idAgeRange", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idAgeRange, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idHousingStatus, "Housing Status", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.DropDownList("idHousingStatus", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idHousingStatus, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idTenantStatus, "Landlord", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.DropDownList("idTenantStatus", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idTenantStatus, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idTravelMethod, "Travel Method", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.DropDownList("idTravelMethod", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idTravelMethod, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idDisability, "Disability", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.DropDownList("idDisability", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idDisability, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idBenefits, "Benefits", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.DropDownList("idBenefits", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idBenefits, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ArmedServCur, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                <div class="checkbox">
                    @Html.EditorFor(model => model.ArmedServCur)
                    @Html.ValidationMessageFor(model => model.ArmedServCur, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ArmedSerPre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                <div class="checkbox">
                    @Html.EditorFor(model => model.ArmedSerPre)
                    @Html.ValidationMessageFor(model => model.ArmedSerPre, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.idOccupation, "Occupation", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.DropDownList("idOccupation", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idOccupation, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Occupation_Other, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.Occupation_Other, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Occupation_Other, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.MemoryStickIssued, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.MemoryStickIssued, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MemoryStickIssued, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConfirmSigned, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                <div class="checkbox">
                    @Html.EditorFor(model => model.ConfirmSigned)
                    @Html.ValidationMessageFor(model => model.ConfirmSigned, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3">
                @Html.HiddenFor(model => model.idClient) @*need key on screen for edit update to have key to process!*@
                @Html.HiddenFor(model => model.idClientPrev) @*need key on screen for edit update to have key to process!*@
                @Html.HiddenFor(model=> model.CreatedDateTime)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-1 col-md-3">
                <input type="submit" value="Save" class="btn btn-warning btn-xs" />
            </div>
        </div>
    </div>
}

