@model List<CommunityCounts.Models.Master.clientCaseWorkSelList>
@{
    ViewBag.Title = "Casework selection";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Select which activities are to be Caseworked for a Client</h2>
<h3>Client Name: @ViewBag.FirstName @ViewBag.LastName</h3>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ActionLink("Back to List", "CaseWorkSummary", new {id=ViewBag.idClient}, htmlAttributes: new { @class = "btn btn-primary btn-xs" })
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @{int counter = 0;}
        <table class="table-condensed">
            <tr>
               
                <th align="right" width="60px">
                    Case Worked
                </th>
                <th align="left">
                    Enrolled Activity
                </th>
            </tr>
            @foreach (var item in Model)
        {
                <tr>
                    <td align="right" width="100px">
                        @if (item.isCaseWorked)
                    {
                            <input name="[@counter].isCaseWorked" type="checkbox" checked id="[@counter].isCaseWorked" value="true"  /> @* return this if user clicked *@

                    }
                    else
                    {
                            <input name="[@counter].isCaseWorked" type="checkbox" id="[@counter].isCaseWorked" value="true"  />
                    }
                        <input type="hidden" value="false" name="[@counter].isCaseWorked" />                                      @* Otherwise this *@

                    </td>
                    <td align="Left">
                        <input name="[@counter].idServiceType" type="hidden" value="@item.idServiceType" />     @* Stack keys hidden to get them back in HTTPPOST*@
                        <input name="[@counter].idClientCaseHeader" type="hidden" value="@item.idClientCaseHeader" /> 
                        @Html.DisplayFor(modelitem => item.ServiceName)
                    </td>
                </tr>
                    counter++;
        }
            </table>

        <div class="form-group">
            <div class="col-md-offset-1 col-md-4">
                <input type="submit" value="Save" class="btn btn-warning btn-xs" />
            </div>
        </div>
</div>
}
<div class="alert alert-dismissible alert-warning">
    <button type="button" class="close" data-dismiss="alert">x</button>
    <h4>Please Note</h4>
    <p>You need to <a href="/C1service/Index/@ViewBag.idClient" class="alert-link">Enrol</a> this Client in more Activities, if they are not listed here, if you need to casework another Activity for this Client .</p>
</div>

