@{
    ViewBag.Title = "Delete CaseWork";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete all Casework events for a Client and Activity</h2>
@{string route ="CaseWorkSummary/" + ViewBag.idClient;} 
@Html.ActionLink("No - Back to List", route, null, htmlAttributes: new { @class = "btn btn-primary btn-xs" })
<div class="alert alert-dismissable alert-danger">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong>Warning!</strong> Are you sure that you want to delete ALL casework for Client @ViewBag.FirstName @ViewBag.LastName against activity @ViewBag.ActivityName?
</div>
<div>
  
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
<div class="alert alert-dismissable alert-danger">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong>Important!</strong> Pressing the Delete button below will delete all casework records for activity @ViewBag.ActivityName!
</div>
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger btn-xs" />
        </div>
    }
    </div>
