@model List<CommunityCounts.Models.Master.clientCaseWorkList>

@{
    ViewBag.Title = "Client Case Work";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Client Case Work Summary</h2>
<h3>Client Name: @ViewBag.FirstName @ViewBag.LastName</h3>
<p>
    @Html.ActionLink("Back to List", "Index","C1client", new { SearchStringName = @ViewBag.idClient }, htmlAttributes: new { @class = "btn btn-primary btn-xs" })
    @if(ViewBag.startCaseWorking)
    {
        @Html.ActionLink("Start Caseworking", "StartCaseService", new { idClient = @ViewBag.idClient }, htmlAttributes: new { @class = "btn btn-warning btn-xs" })
    }
    else
    {
        @Html.ActionLink("OverView","OverView",new {id = @ViewBag.idClient},htmlAttributes: new { @class = "btn btn-primary btn-xs"})
        
        @Html.ActionLink("Casework another Activity", "CreateCaseService", new { idClientCaseHeader = @ViewBag.idClientCaseHeader }, htmlAttributes: new { @class = "btn btn-warning btn-xs" })  
    }
</p>
<table class="table table-hover" >
    <tr>
        <th>
            Activity
        </th>
        <th>
            Last Staff
        </th>
        <th width="100px" >
            Number of Caseworking events
        </th>
        <th width="100px" align="right">
            Total Staff Time
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceName)
        </td>
        <td>
            @Html.DisplayFor(modelitem => item.staffName)
        </td>
        <td align="right">
            @Html.DisplayFor(modelItem => item.numDetailRecs)
        </td>
        <td align="right">
            @Html.DisplayFor(modelItem=> item.totalTimeToDateFormatted)
        </td>
        <td>
            @Html.ActionLink("Details", "Index","ClientCaseWorkDetail", new { id = item.idClientCaseDetail }, htmlAttributes: new { @class = "btn btn-primary  btn-xs" }) 
            @Html.ActionLink("Delete", "DeleteCaseWork", new { id = item.idClientCaseDetail }, htmlAttributes: new { @class = "btn btn-danger btn-xs" })
        </td>
    </tr>
}

</table>
