@model List<CommunityCounts.Models.Master.clientCaseWorkOverView>

@{
    ViewBag.Title = "OverView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All CaseWork events for a Client</h2>
<h3>Client Name   : @ViewBag.FirstName @ViewBag.LastName</h3>

<p>
    @Html.ActionLink("Back to List", "CaseWorkSummary","ClientCaseWork", new {id=@ViewBag.idClient}, htmlAttributes: new { @class = "btn btn-primary btn-xs" })
   
<table class="table">
    <tr>
        
        <th width="10%">
            CaseWork StartDate
        </th>
        
        <th width="10%">
           Last Edit Date/Time
        </th>
        <th>
           Activity
        </th>
        <th>
            Name
        </th>
        <th>
           Hours
        </th>
        
        <th width="45%">
            Notes
        </th>
   
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.CaseServiceDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CaseServiceEditDate)
        </td>
        <td>
            @Html.DisplayFor(x => item.ServiceName)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td align="right">
            @Html.DisplayFor(modelItem => item.CaseServiceTime)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.CaseServiceNotes)
        </td>
        
    </tr>
}

</table>
